.gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.borderCircle{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}