.container {
    width: 80%;
    margin: 2em auto;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(227, 236, 159);
    opacity: 0.8;
    border-radius: 10px;
    border: 2px solid black;
  }